body{
background-color: 161A1E;
}
.effect_0{
position: absolute;
top:40px;
width: 38%;
height: 20%;
border: 1px solid orange;
background-color: orange;
border-radius: 20px;
z-index:1000; 
opacity: 0.9;
padding:5px;
overflow: scroll;
}
.effect_1{
position: absolute;
top:40px;
left:58%;
width: 38%;
height: 20%;
border: 1px solid orange;
background-color: orange;
border-radius: 20px;
z-index:1000; 
opacity: 0.9;
padding:5px;
overflow: scroll;
}
.info{
font-size: 10px;
}
.tab{
width:100%;
position: relative;
top:-40px;
}
.plus{
width:25px;
height:25px;
position: relative;
left:45%;
}
.cell{
//border: 1px solid gray;
width:50%;
height:130px;
position: relative;
font-size: 10px;
text-align: center;
}
.vib{
border: 1px solid gray;
}
.next{
position: relative;
top:-10px;
width: 100%;
height: 6%;
border: 1px solid orange;
background-color: orange;
text-align: center;
border-radius: 20px;
}
.mykyd{
width: 50px;
height: 50px;
position: relative;
top: 10px;
z-index:2; 
}
.cubes{
position: relative;
top:0px;
width: 100%;
}
.osn{
position: relative;
background-color: orange;
height: 110px;
animation-name: uze1;
animation-duration: 1s;
border: 1px solid black;
border-radius: 20px;
width:180px;
font-size: 10px;
text-align: center;
}
.osn1{
position: relative;
left:4%;
top:3%;
background-color: fafad2;
width: 90%;
height: 30%;
animation-name: uze1;
animation-duration: 1s;
border-radius: 15px;
padding:1%;
}
.osn2{
position: relative;
top:12px;
width: 100%;
//border: 1px solid gray;
}
.red{
background-color: red;
}
.green{
background-color: green;
}
.gold{
background-color: gold;
}
.niz{
position: relative;
top:65%;
}
.player_1{
overflow: hidden;
position: relative;
left: 0px;
color: black;
font-size: 10px;
width: 40%;
height: 30px;
text-align: center;
}
.player_2{
overflow: hidden;
position: relative;
left: 60%;
top:-30px;
color: black;
width: 40%;
font-size: 10px;
height: 30px;
text-align: center;
}
.cards{
width:15px;
height:20px;
}
.top{
position: relative;
border-radius: 15px;
background-color: orange;
left: 40.5%;
top:-60px;
    color: black;
width: 19%;
font-size: 10px;
height: 12px;
text-align: center;
}
.hod{
position: relative;
border-radius: 15px;
background-color: orange;
left: 40.5%;
top:-55px;
    color: black;
width: 19%;
font-size: 10px;
height: 12px;
text-align: center;
}
.table{
position:absolute;
top:50px;
background-color: orange;
width:98%;
height:80%;
z-index:100; 
border-radius: 15px;
overflow: scroll;
}
.sp{
text-align: center;
background-color: d3eee0;
}
.spp{
padding:0.5%;
border-radius: 15px;
}
.sppp{
background-color: orange;
height:10px;
}
.lin_HP{
display: inline;
}
.inline{
display:table-cell;
}
.card{
padding:2%;
border-radius: 15px;
background-color: 161A1E;
overflow: scroll;
height:110px;
}
.pk{
padding:0.5%;
width: 41px;
height: 41px;
animation-name: ma1;  
animation-duration: 1s;
}
.pk_os{
padding:0.5%;
width: 10px;
height: 10px;
}
@keyframes ma1{
    0%{width: 25px;height: 25px;}
  80%{width: 41px;height: 41px;}
}
.ts{
animation-name: ts;  
animation-duration: 1s;
}
@keyframes ts{
    10%{transform: rotate(-5deg);}
    20%{transform: rotate(0deg);}
   30%{transform: rotate(5deg);}
}
.counter{
width: 50px;
height: 50px;
font-size: 25px;
border-radius: 20px;
position: relative;
top: 10px;
left:37%;
z-index:2; 
background-color:ffffff;
text-align: center;
}
.book{
position: absolute;
top:6.5%;
left:2%;
width:380px;
height:260px;
border: 1px solid black;
border-radius: 20px;
z-index: 5; 
overflow: scroll;
}
.zak{
width: 100%;
height: 50px;
background-color:ffffff;
text-align: center;
}
/*
.move1{
position: absolute;
animation-name: move_1;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_1{
    0%{ transform:translate(0%,0%);}
    50%{ transform:translate(-180%, -930%);}
   100%{ transform:translate(-180%, -840%);}
}
.move2{
position: absolute;
animation-name: move_2;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_2{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(180%, -930%);}
   100%{ transform:translate(180%, -840%);}
}
.move3{
position: absolute;
animation-name: move_3;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_3{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(-180%, -700%);}
   100%{ transform:translate(-180%, -610%);}
}
.move4{
position: absolute;
animation-name: move_4;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_4{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(180%, -700%);}
   100%{ transform:translate(180%, -610%);}
}
.move5{
position: absolute;
animation-name: move_5;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_5{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(-180%, -475%);}
   100%{ transform:translate(-180%, -385%);}
}
.move6{
position: absolute;
animation-name: move_6;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_6{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(180%, -475%);}
   100%{ transform:translate(180%, -385%);}
}
.move7{
position: absolute;
animation-name: move_7;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_7{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(-180%, -245%);}
   100%{ transform:translate(-180%, -155%);}
}
.move8{
position: absolute;
animation-name: move_8;  
animation-duration: 1s;
z-index: 3; 
top: -55px;
left: 163px;
width: 50px;
height: 50px;
}
@keyframes move_8{
    0%{ transform:translate(0px, 0px);}
    50%{ transform:translate(180%, -245%);}
   100%{ transform:translate(180%, -155%);}
}*/
.hidden{
display: none;
}
.pr{
border: 1px solid gray;
opacity: 0.30;
}
.anim{
position: absolute;
left:65px;
top:-5px;
width: 50px;
height: 50px;
animation-name: anim;  
animation-duration: 1s;
z-index: 3; 
}
@keyframes anim{
0%{ transform:translate(0px, 0px);}
50%{ transform:translate(0px,50px);}
}
.start{
animation-name: anim_us;  
animation-duration: 1s;
}
@keyframes anim_us{
0%{left:-40%;
transform: scale(1,0.9);
}
50%{left:0%;
transform: scale(1,1);
}
}
.all_OS{
position: absolute;
top:5%;
left:25%;
width:185px;
height:60%;
border: 1px solid black;
border-radius: 20px;
z-index:100; 
overflow: scroll;
}
.n{
width:99%;
height:10px;
text-align: center;
border: 1px solid black;
border-radius: 20px;
background-color:aaaaaa;
}

/*
.os1{
position: absolute;
top:7%;
left:0px;
}
.os2{
position: absolute;
top:7%;
left:49%;
}
.os3{
position: absolute;
top:23%;
left:0px;
}
.os4{
position: absolute;
top:23%;
left:49%;
}
.os5{
position: absolute;
top:39%;
left:0px;
}
.os6{
position: absolute;
top:39%;
left:49%;
}
.os7{
position: absolute;
top:55%;
left:0px;
}
.os8{
position: absolute;
top:55%;
left:49%;
}
*/










/*
padding: 10px;
*/
